@import './library'

/*@import './themes/haarlem'*/

@import './shared/mixin'
@import './shared/dialog'
@import './shared/header'
@import './shared/board'
@import './shared/help'

@import './editions/index'
@import './editions/pairs'
@import './editions/quizzes'
@import './editions/sliding_puzzle'

*
  margin: 0
  padding: 0

body
  if $background-image
    background-image: $background-image
  if $background-color
    background-color: lighten($color, 10)
  else
    background-color: transparent
  font-family: $font-family
  color: #fff
  font-size: 100%

h1
  width: 100%
  text-align: center
  margin: 36px 0 40px 0
  
  font-size: 237.5%
  color: #fff
  if $stroke 
    stroke(3px, darken($color, 10))
    
h2
  text-transform: uppercase
  text-align: center
  
  font-size: 187.5% // 30 / 16
  if $stroke 
    stroke(2px, darken($color, 6))
  
h3
  if $stroke
    color: #fff
    stroke(2px, darken($color, 20), false)
    
    .ie6 &,
    .ie7 &,
    .ie8 &
      color: darken($color, 20)
  else
    color: darken($color, 20)
  
  text-align: center
  font-size: 112.5% // 18 / 16 
  line-height: 22px

ul
  list-style-type: none

a, a:visited
  color: #fff;
  text-decoration: none
  
dd, dt
  display: inline
  
.header 
  h1 
    margin: 0 0 0 0
  h2 
    margin: 0 0 0 0
    font-size:  1.2em
    
.stack > *:not(.active)
  display: none
